@page
@model TheWorldOfRecipes.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center;">
        <h2 style="margin-left: 10px;">@Model.Recipe.RecipeName</h2>
        <span style="display: flex; align-items: center; font-size: small; color: #555;">
            <i class="fa fa-clock" style="margin-left: 4px;"></i>
            @Model.Recipe.TimerMinutes דק'
        </span>
    </div>
    <div style="display: flex; align-items: center;">
        <span style="color: red;">
            <i class="fa fa-heart"></i>
        </span>
        <span style="font-size: small; margin-right: 4px;">
            @Model.Recipe.LikesCount
        </span>
    </div>
</div>

<div>
    <h4>
        @Html.DisplayFor(model => model.Recipe.Category.CategoryName)
    </h4>
    <hr />
    <dl class="row">
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.RecipeName)
        </dd>
 *@

        @if (Model.Ingredients != null && Model.Ingredients.Count > 0)
        {
            <h5>מצרכים</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>מצרך</th>
                        <th>כמות</th>
                        <th>יחידות</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Ingredients)
                {
                    <tr>
                        <td>@item.IngredientName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Units</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        <dt class="col-sm-2">
            <h5>אופן הכנה:</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.VideoURL)
        </dt>
 *@
        @* <dt class="col-sm-2">
            <i class="fa fa-clock" style="color: #555;"></i>
            @Html.DisplayNameFor(model => model.Recipe.TimerMinutes)
        </dt>
        <dd class="col-sm-10">
            @Model.Recipe.TimerMinutes דק'
        </dd>
        <dt class="col-sm-2">
            <i class="fa fa-heart" style="color: red;"></i>
            @Html.DisplayNameFor(model => model.Recipe.LikesCount)
        </dt>
        <dd class="col-sm-10">
            @Model.Recipe.LikesCount
        </dd> *@

    </dl>

    @if (!string.IsNullOrEmpty(Model.Recipe.VideoURL))
    {
        <div class="d-flex align-items-center justify-content-center" style="height: 300px;">
            <iframe width="420" height="236"
                    src="@GetYouTubeEmbedUrl(Model.Recipe.VideoURL)"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
    }

    @functions {
        private string GetYouTubeEmbedUrl(string url)
        {
            // Extract the video ID from a YouTube URL and return the embed URL
            var uri = new Uri(url);
            var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
            string videoId = query["v"];
            if (string.IsNullOrEmpty(videoId))
            {
                // Handle youtu.be short links
                if (uri.Host.Contains("youtu.be"))
                    videoId = uri.Segments.Last();
                else
                    videoId = url; // fallback, may not work
            }
            return $"https://www.youtube.com/embed/{videoId}";
        }
    }



    @if (Model.RecipeComments.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>שם משתמש</th>
                    <th>דירוג</th>
                    <th>תגובה</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.RecipeComments)
                {
                    <tr>
                        <td>@comment.User.UserName</td>
                        <td>
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (comment.Rating.HasValue && i <= comment.Rating.Value)
                                {
                                    <span style="color: gold; font-size: 1.2em;">&#9733;</span> <!-- כוכב מלא -->
                                }
                                else
                                {
                                    <span style="color: gray; font-size: 1.2em;">&#9734;</span> <!-- כוכב ריק -->
                                }
                            }
                        </td>
                        <td>@comment.Comment</td>
                        <td>
                            @if (User.Identity.IsAuthenticated && comment.User.UserName == User.Identity.Name)
                            {
                                <a class="btn btn-sm btn-warning" asp-page="/RatingsAndComments/Edit" asp-route-id="@comment.RatingAndCommentID">ערוך</a>
                                <a class="btn btn-sm btn-danger" asp-page="/RatingsAndComments/Delete" asp-route-id="@comment.RatingAndCommentID"
                                   onclick="return confirm('האם אתה בטוח שברצונך למחוק את התגובה?');">מחק</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>אין תגובות למתכון זה.</p>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" href="/RatingsAndComments/Create?recipeId=@Model.Recipe.RecipeID">
            הוסף תגובה ודירוג
        </a>
    }






</div>
<div>
   @* <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeID">Edit</a> | *@
    <a asp-page="Index">חזור למתכונים</a>
</div>
