@page
@model TheWorldOfRecipes.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div dir="rtl">
    <h1>מתכונים</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <!-- מיכל שכולל את כל המתכונים -->
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Recipe)
            {
                <!-- עמודה שמתאימה לגודל מסכים -->
                <div class="col-12 col-md-6 col-lg-4 text-center mb-4">
                    <!-- עיצוב של הכרטיס -->
                    <div class="card border-0 p-3" style="background-color: #f8f9fa; border-radius: 15px;">
                        @if (!string.IsNullOrEmpty(item.VideoURL))
                        {
                            <!-- סרטון יוטיוב בתוך iframe -->
                            <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                                <iframe width="280" height="158" src="https://www.youtube.com/embed/@item.VideoURL"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                </iframe>
                            </div>
                        }
                        <!-- שם המתכון -->
                        <div class="card-body">
                            <h5 class="card-title">@item.RecipeName</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    
   @*  <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].RecipeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].VideoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].TimerMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].LikesCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Recipe)
            {
               
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecipeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (@item.VideoURL is not null)
                        {
                            <iframe width="280" height="158" src="https://www.youtube.com/embed/@Html.DisplayFor(modelItem => item.VideoURL) title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimerMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LikesCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryID)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.RecipeID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.RecipeID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.RecipeID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@
</div>